*, *:before, *:after {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 20px;
}

body {
	/*padding-top: 60px;*/
	overflow-x: hidden;
	overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Actor', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #f4f4f4;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.857em;
	font-weight: 500;
	line-height: 1.1;
}

h2 {
	font-size: 1.714em;
	font-weight: 200;
	line-height: 1.3;
}

h3 {
	font-size: 1.429em;
	font-weight: 500;
	line-height: 1.1;
}

h4 {
	font-size: 1.143em;
	font-weight: 200;
	line-height: 1.2;
}

p, li {
	font-family: 'EB Garamond', Georgia, serif;
	color: #f4f4f4;
	margin: 0;
	padding: 0;
	line-height: 1.3;
}

a {
	text-decoration: none;
	margin: 0;
	padding: 0;
	-webkit-transition: color linear 0.15s, background-color linear 0.15s;
	-moz-transition: 	color linear 0.15s, background-color linear 0.15s;
	-o-transition: 		color linear 0.15s, background-color linear 0.15s;
	transition: 		color linear 0.15s, background-color linear 0.15s;
}

img {
	max-width: 100%;
}

/**********/
/* COVER  */
/**********/
.cover {
	width: 27%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4000;
	/*background-color: #4F5E67; Midnight Blue */
	background-color: #2D2D2D; /* Matte charcoal */
}

.cover-logo {
	display: block;
	position: absolute;
	padding: 10px;
	line-height: 0;
}

.cover-inner {
	padding: 60px 40px 40px;
	width: 100%;
	height: 100%;
}

.cover-title {
	padding: 40px 0 10px;
	text-shadow: 0 1px 3px rgba(0,0,0,0.3);
	/*color: ;*/
}

.cover-text {
	padding: 0 0 10px;
	font-size: 1.286em;
	text-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.cover-icons {
	position: absolute;
	bottom: 40px;
	line-height: 0;
}

.cover-icons > a {
	display: inline-block;
	float: left;
	margin-right: 15px;
	width: 30px;
	height: 30px;
}

.cover-icons [class*="icon-"] {
	font-size: 2em;
}

.cover a {
	color: #20BEC6; /* Seafoam */
}

.cover a:hover {
	color: #188D93; /* Dark Aqua */
}


/***************/
/* CONTENT BAR */
/***************/

.content-bar {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 27%;
	z-index: 3000;
	display: block;
	float: left;
	background-color: #333333; /* Charcoal with hint of aqua */
}

.content-bar-inner {
	width: 73%;
	height: 100%;
}

.content-bar-item {
	font-family: 'Actor', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 100%;
	padding: 18px 40px;
	color: #F8F8F5;
	-webkit-transition: color linear 0.15s, background-color linear 0.15s;
	-moz-transition: 	color linear 0.15s, background-color linear 0.15s;
	-o-transition: 		color linear 0.15s, background-color linear 0.15s;
	transition: 		color linear 0.15s, background-color linear 0.15s;
}

.content-bar-item:hover {
	background-color: #188D93; /* Dark Aqua */
	color: #F8F8F5; /* White smoke */
}

.content-bar #filter-button,
.content-bar #back-button {
	float: left;
}

.content-bar #search,
.content-bar #share-button {
	float: right;
}

.content-bar [class*="icon-"] {
	font-size: 1.714em;
	display: inline-block;
	vertical-align: middle;
	padding-right: 5px;
}

.content-bar-text {
	font-size: 1em;
	display: inline-block;
	vertical-align: middle;
}

.content-bar #search {
	cursor: pointer;
}

.search-input {
	background: none;
	border: none;
	padding: 4px 4px 4px 0;
	margin: 0;
	width: 70px;
	font-size: 1em;
	font-family: 'Actor', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-transition: width linear 0.15s;
	-moz-transition: 	width linear 0.15s;
	-o-transition: 		width linear 0.15s;
	transition: 		width linear 0.15s;
}

.search-input:active,
.search-input:focus {
	background: none;
	background-color: #20BEC6;
	color: #F8F8F5;
	border: none;
	width: 140px;
	padding: 4px 4px 4px 4px;
	outline: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

::-webkit-input-placeholder {
	color: #F8F8F5;
}

:-moz-input-placeholder {
	color: #F8F8F5;
}

::-moz-input-placeholder {
	color: #F8F8F5;
}

:-ms-input-placeholder {
	color: #F8F8F5;
}

/*************/
/* VIEWPORT  */
/*************/

#viewport {
	position: relative;
	top: 0;
	left: 27%;
	width: 73%;
	height: 100%;
	padding-top: 60px;
	/*overflow-x: hidden;*/
	background-color: #F8F8F5;
}

/*************/
/* POST LIST */
/*************/

.content {
	width: 100%;
	position: relative;
	overflow: auto;
	background-color: #F8F8F5;
}

.content-inner {
	width: 100%;
	height: 100%;
	/*padding: 40px;*/
}

a.post-trigger {
	display: block;
	width: 100%;
	padding: 40px;
}
a.post-trigger:hover {
	/* background-color: #E4F2FA; Light blue */
	background-color: #D2F2F4; /* Light seafoam */
}

.post-item {
	padding-bottom: 0px;
	max-width: 800px;
}

.post-title {
	color: #505050;
	font-size: 2em;
	padding: 0 0 10px;
}

.post-date {
	color: #B8B8B6;
	font-size: 1.143em;
	padding: 0 0 10px;
}

.post-snippet,
.post-content {
	color: #505050;
	font-size: 1.286em;
	padding: 0 0 10px;
}

/**************/
/* POST PANEL */
/**************/
.panel {
	display: none;
	opacity: 0;
	width: 73%;
	min-height: 100%;
	position: fixed;
	top: 60px;
	left: 100%;
	z-index:2000;
	background-color: #F8F8F5;
}

.post-inner {
	width: 100%;
	max-width: 900px;
	height: 100%;
	padding: 40px;
}

.panel-show {
	display: block !important;
}

/**************/
/* OVERLAY    */
/**************/
.overlay {
	position: fixed;
	width: 73%;
	min-height: 100%;
	visibility: hidden;
	top: 60px;
	left: 27%;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.8);
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.panel-show ~ .overlay {
	opacity: 1;
	visibility: visible;
}

/********/
/* FORM */
/********/

#demo-form {
	/*margin-top: 30px;*/
}
#demo-form fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
.input-group {
	margin-right: 18px;
	margin-bottom: 10px;
}
.input-label {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 1em;
	color: #505050;
	cursor: pointer;
}
.input-field {
	display: block;
	width: 100%;
	height: 28px;
	padding: 0px 8px;
	margin: 0;
	vertical-align: middle;
	background-color: #FFFFFF;
	background-image: none;
	border: 1px solid rgba(80,80,80, 0.2);
	font-size: 1em;
	color: #505050;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	
	-webkit-transition: border linear .1s, box-shadow linear .1s;
	-moz-transition: border linear .1s, box-shadow linear .1s;
	-o-transition: border linear .1s, box-shadow linear .1s;
	transition: border linear .1s, box-shadow linear .1s;

	border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
}

.input-field:focus {
	border-color: rgba(54, 94, 191, 0.5);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(54, 94, 191,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(54, 94, 191,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(54, 94, 191,.6);
}

.input-dropdown-wrapper {
	margin-bottom: 10px;
	margin-right: 2px;
}

.input-dropdown-group {
    /* Size & position */
    position: relative;
    width: 100%;
    height: 28px;
    margin: 0 auto;
    /*padding: 4px 8px;*/
    padding: 0;

    /* Styles */
    vertical-align: middle;
    background: #fff;
    cursor: pointer;
    outline: none;
    border: 1px solid rgba(80,80,80, 0.2);

    border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	
    -webkit-transition: border linear 0.1s, background-color linear 0.1s, box-shadow linear .1s;
    -moz-transition: border linear 0.1s, background-color linear 0.1s, box-shadow linear .1s;
    -ms-transition: border linear 0.1s, background-color linear 0.1s, box-shadow linear .1s;
    -o-transition: border linear 0.1s, background-color linear 0.1s, box-shadow linear .1s;
    transition: border linear 0.1s, background-color linear 0.1s, box-shadow linear .1s;
}

.input-dropdown {
	appearance: none;
    -webkit-appearance: none;
	-moz-appearance: menulist;
	
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;

	display: block;
	width: 100%;
	height: 28px;
	padding: 0 8px;
	border: 0;
	float: left;
	position: relative;
	z-index: 2;
	font-size: 1em;
	color: #505050;
	background: transparent;
	background-color: transparent;
	background-image: none;
	vertical-align: middle;
	cursor: pointer;
}

.input-dropdown-arrow {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #365ebf transparent;
    cursor: pointer;
}

.input-dropdown-group .input-dropdown > option {
    padding: 2px 10px ;
}

.input-dropdown-group:hover,
.input-dropdown-group:active {
    background-color: #f3f8fe;

	border-color: rgba(54, 94, 191, 0.5);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(54, 94, 191,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(54, 94, 191,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(54, 94, 191,.6);
}

.input-dropdown:focus {
	border-color: rgba(54, 94, 191, 0.5);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(54, 94, 191,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(54, 94, 191,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(54, 94, 191,.6);
}

/*CHROME FIXES FOR FORM STYLING*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	
}

/*FIREFOX FIXES FOR FORM STYLING*/
@-moz-document url-prefix() { 
  .input-field {
	-moz-box-shadow: none;
	box-shadow: none;
  }
  .input-dropdown-group {
  	-moz-box-shadow: none;
	box-shadow: none;
  }
  .input-dropdown {
	padding: 4px 4px;
	border: 0;
	-moz-box-shadow: none;
	box-shadow: none;
  }
  .input-dropdown-arrow {
	display: none;
  }
}

/*INTERNET EXPLORER 10+ FIXES*/
.input-field:-ms-input-placeholder {
	color: rgba(80,80,80, 0.5);
}
select::-ms-expand {
    display: none;
}

/*FORM VALIDATION*/
#error-message {
	display: none;
	font-weight: 600;
	color: #E31B23;
}
input.error,
select.error {
	background-color: rgba(227,150,148, 0.1) !important;
	border: 1px solid rgba(227,27,35, 0.5);
}

input.valid,
select.valid {
	background-color: none !important;
	border: 1px solid rgba(149,205,60, 1);
}

/***********/
/* BUTTONS */
/***********/

.btn {
	color: #FFFFFF;
	background: #F0640F; 
	border: 0;
	/*
	border: 1px solid #bbbbbb;
	border-color: #D6590D;
	background-image: -moz-linear-gradient(top, #F0640F, #B0490B);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F0640F), to(#B0490B));
	background-image: -webkit-linear-gradient(top, #F0640F, #B0490B);
	background-image: -o-linear-gradient(top, #F0640F, #B0490B);
	background-image: linear-gradient(to bottom, #F0640F, #B0490B);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0640F', endColorstr='#B0490B', GradientType=0);
	background-position: 0 10px;
	*/
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 8px 25px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 200;
	cursor: pointer;
	box-shadow: 0 3px 2px #dadada;
	-webkit-transition: background-color 0.1s linear;
	-moz-transition: background-color 0.1s linear;
	-o-transition: background-color 0.1s linear;
	transition: background-color 0.1s linear;
}

.btn:hover {
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
	text-decoration: none;
	background-position: 0 -15px;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	-webkit-transition: background-color 0.1s linear;
	-moz-transition: background-color 0.1s linear;
	-o-transition: background-color 0.1s linear;
	transition: background-color 0.1s linear;
	background-color: #D6590D;
	*background-color: #D6590D;
}
.btn:hover {
	background-position: 0 0;
}
#submit {
	float:right;
	margin: 0;
}

#submit button {
}

/**********/
/* VIDEO */
/**********/
.video {
	width: 100%;
}

#overview-video {
	width: 100%;
	height: 100%;
}


/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (min-width: 1666px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 920px) {
	body {
		padding-top: 0;
	}
	.cover {
		width: 100%;
		height: auto;
		display: block;
		float: left;
		position: relative;
	}
	.cover-icons {
		position: relative;
		bottom: 0;
		height: 30px;
		padding-top: 5px;
		line-height: 0;
	}

	#viewport {
		width: 100%;
		left: 0;
		height: auto;
		float: left;
		padding-top: 0;
	}
	
	.content,
	.panel {
		width: 100%;
	}

	.content-bar {
		position: relative;
		top: 0;
		left: 0;
		background-color: black;
	}

	.content-bar-inner {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 768px) {

}

@media screen and (max-device-width: 480px), screen and (max-width: 480px) {

}