#title > .container {
	border-bottom: 1px solid #DCDCDC;
}

#navbar .call-me-maybe {
	display: inline-block;
	zoom: 1;
	*display: inline;
}

#navbar #phone-icon {
	display: inline-block;
	zoom: 1;
	*display: inline;
}

#navbar #phone-number {
	display: inline-block;
	zoom: 1;
	*display: inline;
}

#main .media .fluid-width-video-wrapper {
	border: 1px solid #DCDCDC;
}

.input-field {
	appearance: none;
	line-height: 25px;
	box-shadow: none;
	border: 1px solid #DCDCDC;
}

.input-dropdown-group {
	overflow: hidden;
	border: 1px solid #DCDCDC;
}

.input-dropdown {
	position: relative;
	top: -2px;
	left: -2px;
	width: 120%;
	height: 32px;
	border: 0;
	vertical-align: middle;
}

button[type=submit] {
   filter: chroma(color=#000000);
   border: 0;
}

#footer {
	border-top: 1px solid #DCDCDC;
}