/* FONTS

font-family: 'Telex', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 400 or 700;
*/

/* GENERAL STYLES */
h1, h2, h3, h4, h5, h5 {
	font-family: 'Telex', Helvetica, Arial, sans-serif;
}

p, li, a, button {
	font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

a {
	color: #09A5DE;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #015B7A;
	text-decoration: none;
}

input, button, .btn {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}

button, .btn {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}

form {
	margin: 0;
}

form .btn {
	padding:10px 25px;
	color: #FFF;
	background-color: #09A5DE;
	background-image: none;
	text-shadow: none;
	border: 0px;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

form .btn:hover,
form .btn:focus {
	color: #FFF;
	background-color: #015B7A;
	background-image: none;
	text-shadow: none;
	border: 0px;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

input[type="text"] {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	outline: none;
	padding: 10px;
	margin:0;
	border: 0;
}

input[type="text"]:focus {
	-moz-box-shadow: inset 0 0 5px 1px #09A5DE;
	-webkit-box-shadow: inset 0 0 5px 1px #09A5DE;
	box-shadow: inset 0 0 5px 1px #09A5DE;
		padding: 10px;
	margin:0;
	border: 0;
}

/* NAV DRAWER */
#nav-drawer {
	background-color: #15191a;
}

#nav-drawer h2 {
	color: #FFF;
}

#nav-drawer h4 {
	color: #666;
}

.drawer-content {
	padding: 30px 0;
}

.drawer-content .close-drawer {
	float: right;
}

#signin-drawer .section-title {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

#signin-drawer form {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

/* NAVIGATION */

.navbar {
	padding: 20px;
	
}

.navbar.fixed-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #15191a;
	z-index: 1000;
}

.navbar .brand {
	width: 150px;
	padding: 0;
	margin-left: 0;
}

.navbar form .btn {
	margin-top: 0px;
}


/* HERO SEARCH BOX */

.hero {
	background: url('../img/bg-bw.jpg') no-repeat fixed top center;
	width: 100%;
	margin-bottom: 40px;
}

.hero .search-area {
	display: block;
	padding: 120px 0 200px 0;
}

.hero .search-area h1 {
	text-align: center;
	color: #FFF;
	text-shadow: 0 0 15px rgba(0,0,0,0.6),0 -1px 1px rgba(0,0,0,0.6);
}

.hero .search-area form {
	text-align: center;
	margin: 20px 0;
}

.hero .search-area form .search-box {
	width: 50%;
}

.hero .search-area form .btn {

}

.hero .search-area form .btn:hover {
	color: #FFF;
	background-color: #015B7A;
	background-image: none;
	text-shadow: none;
	border: 0px;
}

/* MAIN CONTENT */
.content-block {
	text-align: left;
}

.content-block img {
	max-width: 140px;
}

/* SIDEBAR */
#sidebar {
	display: block;
	position: fixed;
	width: 240px;
	height: 100%;
	float: left;
	background-color: #eaeaea;
	padding: 100px 20px 20px 20px;
}
